body {
	background-color: rgba(197, 79, 32, 0.774);
}

h1 {
	color: black;
	text-align: left;
	font-family: Times New Roman;
	background-color:white;
	font-size: 50px;
}

h2 {
	font-family: Old English Text MT;
	text-align: left;
	color: black;
	background-color:white;
}

p {
	font-family: verdana;
	font-size: 20px;
	background-image: url(images/whiteblock.png);
}

.myimg { 
	width:530px; 
	height: 530px;
	border-radius:50%;

}

/* Projects */


h3 { 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    display: inline-block;
  }

* {
    box-sizing: border-box;
  }

.main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 8px -16px;
	margin-left: auto;
	margin-right: auto;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 35%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: rgba(10, 0, 0, 0.26);
    padding: 10px;
    box-shadow: 10px -1px 10px rgba(7, 0, 3, 0.541);
    border-radius: 10px;
  }

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

