body {
	background-color: rgba(219, 95, 46, 0.925);
	margin: 0px;
}

nav {
	margin: 0px;
	background-color: white;
	padding: 0px;
	padding-left: 10%;
	padding-right: 11%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.479);
	width: 100vw;
	position: fixed;
	top: 0px;
}

section {
	margin: 50px;
	margin-top: 150px;
	margin-bottom: 0px;
	border:0px;
	padding:10px;
	padding-bottom: 0px;
}

h1 {
	color: rgba(218, 62, 0, 0.603);
	text-align: left;
	font-family: Times New Roman;
	font-size: 40px;
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 0px; 
}

h2 {
	color: rgba(255, 254, 254, 0.966);
	padding: 9px;
}

p {
	font-family: verdana;
	font-size: 20px;
	background-image: url(images/whiteblock.png);
}

/* not active: 
.active {
	color: rgb(250, 248, 248);
	text-decoration: none;
  }
*/
.icon {
	display: none;
  }

  .topnav {
	overflow: hidden;
	margin: 0px;
  }


.nav {
	
	color: rgba(10, 10, 10, 0.459);
	text-align: left;
	font-family: Times New Roman;
	float: right;
}

.navlinks {
	text-decoration: none;
	color: rgb(17, 16, 16);
}
.navlinks:hover {
	color: rgb(180, 39, 39);
}

#navdiv {
	position: sticky;
}


.myimg { 
	margin: auto;
	width: 350px; 
	height: 350px;
	border-radius:50%;
}



/* Projects */


h3 { 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    display: inline-block;
  }

* {
    box-sizing: border-box;
  }

.main {
    max-width: 1000px;
    margin: auto;
	margin-top: 150px
  }
  
  .row {
    margin: auto;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: rgba(10, 0, 0, 0.26);
    padding: 10px;
    box-shadow: 10px -1px 10px rgba(7, 0, 3, 0.541);
    border-radius: 10px;
  }

  @media screen and (max-width: 900px) {
	.column {
	  width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }

/* Project Buttons*/

.btn {
	border: none; 
	color: white; 
	padding: 8px 8px; 
	cursor: pointer; 
	border-radius: 4px;
  }
  
  .project {
	background-color:  rgba(248, 248, 248, 0.788);
	color: black;
	box-shadow: 3px 1px 3px rgb(14, 0, 0);
	
} 
  .project:hover {
	background-color:  rgba(138, 59, 59, 0.541);
	box-shadow: 3px 1px 3px rgb(163, 117, 117);
}

/* About me Buttons*/

.about {
	background-color:  rgba(150, 20, 20, 0.788);
	box-shadow:  3px 1px 3px rgb(14, 0, 0);
	
} 
  .about:hover {
	background-color:  rgba(138, 59, 59, 0.541);
	box-shadow: 3px 1px 3px rgb(163, 117, 117);
}

/*Home page button*/

.index {
	border-radius: 15px;
	background-color: #faf9f9c5;
	border: none;
	color:rgba(71, 25, 7, 0.986);
	text-align: center;
	font-size: 3vw;
	padding: 2vw;
	width: auto;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 3px 1px 3px rgb(14, 0, 0);
  }

  .index:hover {
	background-color: rgba(107, 14, 14, 0.788);
	box-shadow: 3px 1px 3px rgb(248, 248, 248);
	color: white
	
}
  
  .index span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .index span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .index:hover span {
	padding-right: 25px;
  }
  
  .index:hover span:after {
	opacity: 1;
	right: 0;
  }

  /*links*/

  .name {
	text-decoration: none;
	font-size: 3vw;
	color:#faf9f9da;
  }

  .name:hover {
	text-decoration: none;
	font-size: 3vw;
	color: rgba(255, 255, 0, 0.568);
  }

  .links {
	text-decoration: none;
	color:#faf9f9da;
  }

  .links:hover {
	text-decoration: none;
	font-size: 20px;
	color:yellow;
  }

  /*HomePage*/

  @media screen and (max-width: 900px) {
	.texts {
	  font-size: 30px;
	}
  }
  
  @media screen and (max-width: 600px) {
	.texts {
	  font-size: 30px;
	}
  }

  .glow {
	font-size: 80px;
	color: rgba(255, 255, 255, 0.527);
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
	from {
	  text-shadow: 0 0 10px rgba(255, 255, 255, 0.527), 0 0 20px rgba(255, 255, 255, 0.452), 0 0 30px rgba(150, 85, 85, 0.788);
	}
	
	to {
	  text-shadow: 0 0 20px rgba(255, 255, 255, 0.685), 0 0 30px rgba(0, 0, 0, 0.788), 0 0 20px rgba(255, 255, 255, 0.925);
	}
  }

  /* back to top button*/

  #Btn {
  
    position: fixed;
    bottom: 65px;
    right: 30px;
    display: none;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(107, 14, 14, 0.534); 
    color:  white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    margin-right: 20px;
  }
  
  #Btn:hover {
    background-color: rgba(148, 78, 78, 0.459); 
  }

  /*Contact me*/

  .connect {
	border-radius: 5px;
	background-color: rgba(150, 20, 20, 0.788);
	border: none;
	color:rgba(250, 248, 246, 0.986);
	text-align: center;
	font-size: 25px;
	padding: 8px;
	width: auto;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 5px 1px 5px rgb(14, 0, 0);
  }

  .connect:hover {
	background-color: rgba(138, 59, 59, 0.541);
	box-shadow: 5px 1px 5px rgb(248, 248, 248);
	color: rgb(7, 0, 0)
	
}
  
  .connect span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .connect span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .connect:hover span {
	padding-right: 25px;
  }
  
  .connect:hover span:after {
	opacity: 1;
	right: 0;
  }
