body {
	background-color: rgba(197, 79, 32, 0.774);
}

h1 {
	color: black;
	text-align: left;
	font-family: Times New Roman;
	background-color:white;
	font-size: 50px;
}

h2 {
	font-family: Old English Text MT;
	color: rgba(255, 254, 254, 0.966);
	padding: 9px;
}

p {
	font-family: verdana;
	font-size: 20px;
	background-image: url(images/whiteblock.png);
}



.myimg { 
	margin: auto;
	width: 350px; 
	height: 350px;
	border-radius:50%;
}



/* Projects */


h3 { 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    display: inline-block;
  }

* {
    box-sizing: border-box;
  }

.main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: auto;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: rgba(10, 0, 0, 0.26);
    padding: 10px;
    box-shadow: 10px -1px 10px rgba(7, 0, 3, 0.541);
    border-radius: 10px;
  }

  @media screen and (max-width: 900px) {
	.column {
	  width: 50%;
	}
  }
  
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }

/* Project Buttons*/

.btn {
	border: none; 
	color: white; 
	padding: 8px 8px; 
	cursor: pointer; 
	border-radius: 4px;
  }
  
  .project {
	background-color:  rgba(248, 248, 248, 0.788);
	color: black;
	box-shadow: 3px 1px 3px rgb(14, 0, 0);
	
} 
  .project:hover {
	background-color:  rgba(138, 59, 59, 0.541);
	box-shadow: 3px 1px 3px rgb(163, 117, 117);
}

/* About me Buttons*/

.about {
	background-color:  rgba(150, 20, 20, 0.788);
	box-shadow:  3px 1px 3px rgb(14, 0, 0);
	
} 
  .about:hover {
	background-color:  rgba(138, 59, 59, 0.541);
	box-shadow: 3px 1px 3px rgb(163, 117, 117);
}

/*Home page button*/

.index {
	border-radius: 4px;
	background-color: #faf9f9c5;
	border: none;
	color:rgba(71, 25, 7, 0.986);
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: auto;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 3px 1px 3px rgb(14, 0, 0);
  }

  .index:hover {
	background-color: rgba(107, 14, 14, 0.788);
	box-shadow: 3px 1px 3px rgb(248, 248, 248);
	color: white
	
}
  
  .index span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .index span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .index:hover span {
	padding-right: 25px;
  }
  
  .index:hover span:after {
	opacity: 1;
	right: 0;
  }

  /*links*/

  .name {
	text-decoration: none;
	font-size: 35px;
	color:#faf9f9da;
  }

  .name:hover {
	text-decoration: none;
	font-size: 35px;
	color:yellow;
  }

  